/* Normal  */
.normal {
  fill: #91A2C0;
  cursor: pointer;
  stroke: none;
}

.normalOutline {
  fill: none;
  stroke: #8998AA;
  stroke-width: 2px;
}

.normalIcon {
  fill: #596A84;
  stroke: none;
  cursor: pointer;
}

/* Selected */
.selected {
  composes: normal;
  fill: #A9C2E0;
  stroke: none;
}

.selectedOutline {
  composes: normalOutline;
  stroke: #899FBA; 
}

.selectedIcon {
  composes: normalIcon;
  fill: #596A84;
}

.selectedHighlight {
  fill: #C4EBFF;
  opacity: 0.0514605978;
}

/* UnSelected */
.unselected {
  composes: normal;
  fill: #768CA6;
  stroke: none;
}

.unselectedOutline {
  composes: normalOutline;
  stroke: #69778C; 
}

.unselectedIcon {
  composes: normalIcon;
  fill: #596A84;
}
