.Node {
  fill: #F5F7F9;
  stroke: #95BAD8;
  stroke-width: 2px;
  cursor: pointer;
}
.NodeIcon {
  fill: #4f7790;
  cursor: pointer;
}

.NodeIconUnSelected {
  fill: #afc0c9;
}

.NodeSelected {
  composes: Node;
  stroke: #b0cfe9;
  fill: #f9f9f9;
}

.NodeUnselected {
  composes: Node;
  stroke: #e9e9e9;
  fill: #e9e9e9;
}